h1 {
  text-align: center;
  color: white;
}

.form-card {
  margin-bottom: 20px;

}

form {
  padding: 20px;
}

.card-title {
  font-weight: bold;
}

#stockIndicator {
  text-align: center;
  font-size: 32px;

}

#stockSymbol {
  text-align: center;
  font-size: 32px;


}

#stockAsk {
  text-align: center;
  font-size: 32px;


}

#product-results {
  overflow: auto; 

}